header {
  width: 100%;
  max-width: 1440px;
  min-height: 48rem;
  background-image: url(../images/bg-pattern-intro-desktop.svg);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-color: var(--Light-red);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 8rem;
}

.show-case {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.title {
  text-align: center;
}
.title h1 {
  font-size: 4.4rem;
  color: var(--White);
  font-weight: 600;
}
.title h2 {
  color: var(--White);
  margin-top: 2rem;
}
.initial-buttons {
  display: flex;
  margin-top: 4.6rem;
}
