main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 6rem;
  position: relative;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  color: var(--Very-dark-blue);
  font-weight: 600;
  position: absolute;
  left: 0;
  top: 10rem;
}

.content {
  display: flex;
  height: 90rem;
}

.designed-text {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 6rem 2rem 0rem;
}

.designed-text h2 {
  font-size: 2.6rem;
  font-weight: 600;
  color: var(--Very-dark-blue);
  margin-bottom: 4rem;
}
.designed-text p {
  color: var(--Very-dark-grayish-blue);
  font-size: 1.7rem;
  line-height: 3rem;
  margin-bottom: 4rem;
}

.designed-img img {
  position: absolute;
}
.designed-img {
  width: 70rem;
  display: flex;
  flex: 1;
  position: relative;
  top: -7rem;
  right: -4rem;
  margin-top: 6rem;
}
