main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  overflow: hidden;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 3.4rem;
  color: var(--Very-dark-blue);
  font-weight: 600;
  margin-top: 9rem;
}

.content {
  display: flex;
}

.designed-text {
  width: 100%;
  margin-top: 16rem;
}
.designed-text h2 {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--Very-dark-blue);
}
.designed-text p {
  color: var(--Very-dark-grayish-blue);
  line-height: 3rem;
  margin-top: 3rem;
}

.designed-img img {
  position: absolute;
}
.designed-img {
  width: 100%;
  position: relative;
  right: -6rem;
}
