.menu-mobile {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  gap: 5rem;
  position: relative;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
ul {
  display: flex;
  gap: 4rem;
  justify-content: start;
  position: absolute;
}
li,
a {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--White);
}

li span {
  margin-left: 1rem;
}

.card-navigation {
  width: 17rem;
  gap: 1.1rem;
  background-color: var(--White);
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: none;
}
.card-navigation li {
  padding: 1rem;
}
nav li:hover {
  cursor: pointer;
}

nav li:hover img {
  transform: rotate(180deg);
  transition: 0.1s;
}
nav li:hover .card-navigation {
  display: block;
}

.card-navigation li {
  color: var(--Very-dark-blue);
}

.card-navigation li:hover {
  font-weight: 600;
  cursor: pointer;
}

a:hover {
  border-bottom: solid 2px var(--White);
  cursor: pointer;
}
