.menu-mobile {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  gap: 5rem;
}
.logo {
  width: 10%;
}
.nav {
  width: 70%;
}
.user {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: end;
}
ul {
  display: flex;
  gap: 4rem;
  justify-content: start;
}
li,
a {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--White);
}
