nav {
  display: flex;
  width: 80%;
  max-width: 1440px;
  align-items: center;
  margin-top: 4rem;
}

ul {
  display: flex;
}
li {
  margin-right: 2.4rem;
  color: var(--White);
}

.logo {
  width: 20%;
}
.nav {
  width: 30%;
}

.user {
  display: flex;
  justify-content: end;
  width: 50%;
  align-items: center;
}
