section {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.section-description h2 {
  font-size: 3rem;
}

.show-case-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

picture {
  width: 100%;
  overflow: hidden;
}

.text {
  width: 100%;
  margin-left: 10rem;
}
